<h1>Movie Filter</h1>

<input type="text" [(ngModel)]="keyword" placeholder="Enter keyword (e.g., cap)" />
<input type="number" [(ngModel)]="voteAverage" placeholder="Max vote average (e.g., 2.5)" />
<input type="number" [(ngModel)]="year" placeholder="Year (e.g., 2000)" />
<button (click)="searchMovies()">Search</button>

<div *ngIf="movies.length">
  <h2>Movies</h2>
  <div *ngFor="let movie of movies">

    <a [routerLink]="['/movie', movie.id]">
    <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{movie.title}}" />
    <p>{{ movie.title }}</p>
    <p>{{ movie.overview }}</p>
    <p>Rating: {{ movie.vote_average }}</p>
    </a>
  </div>
</div>
